.TY{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    font-family: "Helvetica Neue";

    .ty-heading{
        position: absolute;
        height: 20%;
        width: 25%;
        top:0%;
        left:39%;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        font-weight: 100;
        // background-color: rgba(255, 0, 0, 0.553);
    }

    .ty-image-1{
        border-radius: 50%;
        box-shadow: 2px 0px 20px   gray;
        position: absolute;
        height: 50%;
        top:6%;
        left: 10%;
        width: auto;
    }

    .ty-details-div{
        position: absolute;
        height: 75%;
        width: 45%;
        left: 42%;
        top:20%;
        border-radius: 5%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.174) 0%, rgba(0, 0, 0, 0.1) 93%);

        .ty-name-txt{
            position: absolute;
            color:white;
            font-size: 1.3vw;
            font-weight: 100;
            top: 5%;
            left: 10%;
        }

        .ty-input-div{
            position: absolute;
            height: 8%;
            width: 80%;
            top: 10%;
            left: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            border:0px;
            border-bottom: 2px solid white;
            // border: 1px solid white;
            background-color: transparent;
        }
        .ty-d-button{
            position: absolute;
            height: 15%;
            width: auto;
            left:30%;
            top:65%;
        }
        .ty-d-buttton-txt{
            position: absolute;
            color:white;
            height: 10%;
            width: 32%;
            bottom:23.5%;
            left: 31%;
            font-size: 1.5vw;
            background-color: transparent;
            border:0px;
        }
    }

    .ty-bar{
        position: absolute;
        height: 12.5%;
        width: 26%;
        left:10%;
        bottom: 16%;
    }

    .ty-bar-details{
        position: absolute;
        height: 10%;
        width: 13%;
        left: 17.8%;
        bottom:18%;
        // background-color: rgba(4, 224, 4, 0.847);
        .ty-d-profile{
            position: absolute;
            height: 40%;
            width: 55%;
            top:50%;
            left: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            font-weight: 100;
            font-size: 0.9vw;
            border-radius: 1vw;
            border: 1px solid white;
            scale:0.9
            // background-color: green;
        }
    }

    .ty-circle-bar{
        position: absolute;
        height: 18%;
        width: 8.4%;
        left: 9%;
        bottom: 13.5%;
        background-color: white;
        border-radius:50%;

        .ty-circle-bar-img{
            border-radius: 50%;
            position: absolute;
            height: 95%;
            width: 95%;
            left: 3px;
            top: 3px;
        }
    }

    .ty-email-div{
        position: absolute;
        height: 6%;
        width: 17%;
        bottom:5%;
        left: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
    }

    .ty-phone-div{
        position: absolute;
        height: 6%;
        width: 13%;
        bottom:5%;
        left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
    }

    .ty-social-handles{
        position: absolute;
        height: 6%;
        width: 16%;
        bottom:10%;
        right: 20%;
        display: flex;
        gap: 20px;
        // justify-content: space-between;
        align-items: center;
        // border: 1px solid white;

        .ty-social-handles-img{
            cursor: pointer;
            position: relative;
            height: 100%;
            width: auto;
            left: 0;
        }
    }
    .ty-social-txt{
    position: absolute;
    height: 7%;
    width: 15%;
    // border: 1px solid white;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    bottom: 10%;
    right: 39%;
    font-weight: 100;
    }
}