.Home{
    background-color: #090808;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-style: normal;
    
    .home-img-1{
        rotate: 180deg;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home-img-2{
        object-fit: contain;
        position: absolute;
        width: 23%;
        height: 27%;
        top:33.5%;
        left:43%;
    }

    .home-style-txt{
        font-variant: small-caps;
        font-family: 'Ethnocentric';
        position: absolute;
        width: 20%;
        height: 9%;
        top:20%;
        left:9.5%;
        font-size: 9px;
        color:#fcfcfb;
        display: flex;
        justify-content: center;
        align-items: center;
        // font-family: 'Dulan Anzelica';
        // background-color: aquamarine;
    }

    .home-txt-container{
        font-family: 'Ethnocentric', sans-serif;
        position: absolute;
        color:transparent;
        -webkit-text-stroke: 2px white;
        height: 13%;
        width: 40%;
        left: 30%;
        top:36%;
        font-size: 6vw;
        font-weight: 100;
        color:white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // background-color: rgba(255, 255, 0, 0.546);

        .h-txt-c-span{
            font-family: 'Ethnocentric', sans-serif;
            position: absolute;
            color:transparent;
            -webkit-text-stroke: 2px white;
            // top:5%;
            right: 7%;
            font-size: 6vw;
        }
    }

    .home-desc-txt{
        font-family: 'Ethnocentric', sans-serif;

        font-variant: small-caps;
        position: absolute;
        height: 10%;
        left: 35%;
       top: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 50;
        font-size: 1vw;
        text-align: right;
        opacity: 0.8;
        line-height: 1.7vw;
        // background-color: #D08F43;
        position: absolute;
        // color:transparent;
        // -webkit-text-stroke: 2px white;
        font-size: 1.9vw;
    }

    .home-date-div{
        position: absolute;
        height: 7%;
        right :5%;
        bottom: 8%;
        color:white;
        display: flex ;
        justify-content: flex-start;
        align-items: center;
        font-size: 1vw;
        font-weight: 700;
        font-style: italic;
        text-shadow: 2px 2px #f10202;
    }

    
}